<div class="product-page">
    <a href="/products">Voltar</a>
    <img src="{{product.image}}" alt="imagem {{product.name}}">
    <h1>{{product.name}}</h1>
    <h3>{{this.description}}</h3>
    <p>Preço: R$ {{product.price}}</p>

    <form action="/products/remove/{{product._id}}" method="post">
        <input type="submit" value="Excluir" id="submit">
    </form>

</div>